<div class="padding" ng-controller="BeaconController">

  <super-navbar>
    <super-navbar-title>
      Beacon
    </super-navbar-title>
    <super-navbar-button ng-click="uploadFirmware()" side="right">
      DFU
    </super-navbar-button>
  </super-navbar>

  <h3>Beacon configuration</h3>

  <p>Configure a single beacon (mesh functionality will be there soon).</p>

  <div class="card">
   <div class="item item-divider">
      Settings for <strong>{{beacon.id}}</strong>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon super-pricetag placeholder-icon"></i>
        <span class="input-label">Name</span>
        <input type="text" placeholder="DoBeacon" ng-model="beacon.name">
      </label>
      <label class="item item-input">
        <i class="icon super-home placeholder-icon"></i>
        <span class="input-label">UUID</span>
        <textarea type="text" maxLength="36" placeholder="UUID" ng-model="uuidStr"
            ng-model-options="{ getterSetter: true, updateOn: 'blur' }"></textarea>
      </label>
      <label class="item item-input ">
        <i class="icon super-map placeholder-icon"></i>
        <span class="input-label">Major</span>
        <input type="number" placeholder="1" ng-model="beacon.major">
      </label>
      <label class="item item-input ">
        <i class="icon super-map placeholder-icon"></i>
        <span class="input-label">Minor</span>
        <input type="number" placeholder="1" ng-model="beacon.minor">
      </label>
      <label class="item item-input ">
        <i class="icon super-connection-bars placeholder-icon"></i>
        <span class="input-label">RSSI at 1m</span>
        <input type="number" placeholder="-60 (dBm)" ng-model="beacon.calibratedRssi">
      </label>
      <label class="item item-input ">
        <i class="icon super-wifi placeholder-icon"></i>
        <span class="input-label">TX Power</span>
        <div class="icon super-loading-a" ng-show="txPower == null"></div>
        <select id="txPower" ng-model="txPower" ng-show="txPower != null">
          <option value="4"  > +4 dB</option>
          <option value="0"  >  0 dB</option>
          <option value="-4" > -4 dB</option>
          <option value="-8" > -8 dB</option>
          <option value="-12">-12 dB</option>
          <option value="-16">-16 dB</option>
          <option value="-20">-20 dB</option>
          <option value="-30">-30 dB</option>
          <option value="-40">-40 dB</option>
        </select>
      </label>
      <label class="item item-input ">
        <i class="icon super-clock placeholder-icon"></i>
        <span class="input-label">Ad Interval</span>
        <div class="icon super-loading-a" ng-show="advertisementInterval == -1"></div>
        <input type="number" placeholder="100" min="20" max="10240" ng-model="advertisementInterval"  ng-show="advertisementInterval != -1">
      </label>
    </div>
  </div>

  <button class="button button-full button-positive icon-left" ng-click="configureBeacon()">
    <div class="icon super-loading-a" ng-show="processing"></div>
    <div ng-show="!processing">Configure!</div>
  </button>

</div>
