<div class="padding" ng-controller="BeaconController">

  <super-navbar>
    <super-navbar-title>
      Beacon
    </super-navbar-title>
  </super-navbar>

  <h3>Beacon configuration</h3>

  <p>Configure a single beacon (mesh functionality will be there soon).</p>

  <div class="card">
   <div class="item item-divider">
      Settings for <strong>{{beacon.id}}</strong>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon super-pricetag placeholder-icon"></i>
        <span class="input-label">Name</span>
        <input type="text" placeholder="DoBeacon" ng-model="beacon.name">
      </label>
      <label class="item item-input">
        <i class="icon super-home placeholder-icon"></i>
        <span class="input-label">UUID</span>
        <textarea type="text" maxLength="36" placeholder="UUID" ng-model="uuidStr"
            ng-model-options="{ getterSetter: true, updateOn: 'blur' }"></textarea>
      </label>
      <label class="item item-input ">
        <i class="icon super-map placeholder-icon"></i>
        <span class="input-label">Major</span>
        <input type="number" placeholder="1" ng-model="beacon.major">
      </label>
      <label class="item item-input ">
        <i class="icon super-map placeholder-icon"></i>
        <span class="input-label">Minor</span>
        <input type="number" placeholder="1" ng-model="beacon.minor">
      </label>
      <label class="item item-input ">
        <i class="icon super-connection-bars placeholder-icon"></i>
        <span class="input-label">Strength</span>
        <input type="number" placeholder="-4 (dBm)" ng-model="beacon.txPower">
      </label>
    </div>
  </div>

  <button class="button button-full button-positive icon-left" ng-click="configureBeacon()">
    <div class="icon super-loading-a" ng-show="processing"></div>
    <div ng-show="!processing">Configure!</div>
  </button>

</div>
