<div class="padding">

  <super-navbar>
    <super-navbar-title>
   DoBeacons from DoBots!
    </super-navbar-title>
  </super-navbar>

  <p>This application will allow you to configure so-called DoBeacons. These are like iBeacons, but can be plugged into a power outlet. This means no batteries are required, no maintenance, and improved localization through very short advertisement intervals.</p>

  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">Scan for DoBeacons</button>
  </super-navigate>

  <p>To be able to configure one or more beacons we will need to scan for them. The application will ask you to turn on Bluetooth Low Energy (BLE) for this. Note, that BLE is a totally different protocol from normal Bluetooth and does not drain your battery.</p>


  <!--
  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">Learn more</button>
  </super-navigate>
  -->
  <h2>Get in touch with us!</h2>

  <p>Feel free to contact our
  <script type="text/javascript">
		var a=new Array(".nl","bots","do","@","rt","ba");
		document.write("<a href='mailto:");
  		for(i=a.length-1;i>=0;i--){
  			document.write(a[i])
  		}
		document.write("?subject=iBeacon App'>our head developer</a>");
  </script>, we would love to get your feedback!</p>

</div>
