<div class="padding" ng-controller="ScanController">

	<super-navbar>
		<super-navbar-title>
			Scan for DoBeacons
		</super-navbar-title>
	</super-navbar>

	<p>{{introText}}</p>

	<button class="button button-full button-positive" ng-click="toggleScanning()">
		<div ng-show="!scanning">Scan</div>
		<div class="super-refreshing" ng-show="scanning"></div>
	</button>

	<div class="card padding">
		<h3>DoBeacons</h3>
		<p class="balanced"><strong>List of DoBeacons in proximity.</strong></p>
		<p></p>
	</div>

	<div class="list">
		<super-navigate location="example#beacon" data-params-id="{{beacon}}" ng-repeat="beacon in beacons">
			<div class="item item-button-left">
				<b>{{beacon.name}}</b> <br/> {{beacon.address}}
				<button class="button button-positive">
					<i class="icon super-bluetooth"></i>
				</button>
			</div>
		</super-navigate>
	</div>

</div>
